* {
    /*transition: all .3s linear;*/
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    min-height: 100%;
}

body {
    min-height: 90vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #FF7849;
    box-shadow: 0 .1rem 5px #000;
}

main {
    margin: auto;
    width: 60%;
    font-size: 2.5rem;
}

.meklet {
    display: flex;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15vh;
}

.output-container {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 60%;
    background: #7c7;
    margin-top: 1rem;
    padding: 1rem;
}

/*
.output-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #7c7;
    margin-top: 1rem;
    padding: 2rem;
}
*/

.logo {
    max-width: 16rem;
    max-height: 9rem;
    align-self: center;
    margin: 1rem;
    cursor: pointer;
}

.output:empty{
    display: none;
}

@media (width < 720px) {

    main {
        width: 85%;
    }

    .output-container {
        min-width: 85%;
    }
    .output-inside {
        flex-direction: column;
    }
}