* {
    transition: all .3s linear;
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(180deg,#49CFFF 10%, #16C2FE 100%);
}

header {
    max-height: 10vh;
    background-color: #FF7849;
    padding: 1rem;
    box-shadow: 0 .1rem 5px #000;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    color: #000;
}

main {
    margin: auto;
    width: 80%;
    font-size: 2.5rem;
}

.meklet {
    display: flex;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25vh;
}

.textievads {
    margin: 0;
    font-size: 1rem;
    padding: 1rem 7rem 1rem 1rem;
}

.poga {
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: #0d0;
    border-radius: 1rem;
}

.poga:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.output{
    margin-top: .5rem;
    background: #99999922;
    padding: .5rem;
    border-radius: .5rem;
}

.output:empty{
    display: none;
}